body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  text-align: left; /* Mengubah posisi teks menjadi kiri */
  padding: 20px; /* Mengurangi padding agar header tidak terlalu lebar */
}

.menu-container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.quiz-list {
  list-style: none;
  padding: 0;
}

.quiz-list li {
  margin-bottom: 10px;
}

.quiz-list a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.quiz-list a:hover {
  background-color: #f2f2f2;
}

.start-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #45a049;
}

.content-wrapper {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-info {
    flex: 1;
    padding: 20px;
  }