body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 400px;
}

h1, h2 {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#result {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#nextBtn {
  margin-top: 20px;
  /* Atur properti agar tombol tetap di tengah */
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nextBtn:hover {
  background-color: #45a049;
}